.font-main-color {
  color: #303133;
}

.font-normal-color {
  color: #606266;
}

.font-theme-color {
  color: #818cf8;
}

.avatar {
  padding: 5px;
  background-color: #f3f4f6;
}

.setting {
  padding: 5px;
  background-color: #f3f4f6;
}

.mb-custom {
  margin-bottom: calc(6rem + env(safe-area-inset-bottom));
}

.confirm-button {
  width: 70%;
  height: 50px;
  margin-top: 1rem;
  margin-bottom: 1.75rem;
  --text-color: #ffffff;
  background-color: #818CF8;
  --border-radius: 1.5rem;
}
